<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<listeners>
		<listener class-name="enterprise.mobility.Listeners" />
	</listeners>
	<test name="Test">
		<classes>
			<class
				name="enterprise.mobility.Cls_OrderPlacementAtDataEntryStageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
